/* default style a tag */
a {
  @include transition;
  display: inline-block;
}

/* remove last child padding */
p {
  &:last-child {
    margin-bottom: 0px;
  }
}

/* remove from control focus box shadow */
.form-control {
	&:focus {
		box-shadow: none;
	}
}

/* iframe */
iframe {
	height: 100%;
	width: 100%;
	display: block;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield;
}