/*

------------------- CSS Table of content --------------------------------

---------------------- common content -----------------------
1. body reset content


---------------------- element content ---------------------------


*/
:root {
  font-size: 14px;
}

body, html {
  background-color: #E9E9E9;
  height: 100%;
}

body {
  font-family: "Quicksand", sans-serif;
  font-weight: 400;
  line-height: 1.8571428571;
  color: #111111;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

iframe {
  border: none;
}

a,
b,
div,
ul,
li {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  -moz-outline-: none;
}

a:focus,
a:active,
input,
input:hover,
input:focus,
input:active,
textarea,
textarea:hover,
textarea:focus,
textarea:active {
  -moz-outline: none;
  outline: none;
}

img:not([draggable]),
embed,
object,
video {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  outline: 0;
}

a:active,
a:focus,
a:hover,
a:visited {
  text-decoration: none;
  outline: 0;
}

img {
  border: none;
  max-width: 100%;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clear-both:before,
.clear-both:after {
  display: table;
  content: "";
  clear: both;
}

button:focus {
  outline: none;
}

.header {
  padding: 5px 0;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  background-color: #ffffff;
}
.header .logo {
  text-align: center;
}

.banner {
  padding: 0;
  background-color: #ECECEC;
  border-bottom: 3px solid #E4E4E4;
}
.banner .swiper-slide {
  padding: 5px;
  width: auto;
}

.menu-box {
  padding: 20px 0;
  background-color: #f3f2f2;
}

.lists {
  margin-left: -10px;
  margin-right: -10px;
}
.lists .single-list {
  float: left;
  width: 50%;
  padding: 10px;
}
.lists .single-list > a {
  border-radius: 10px;
  border: 2px solid transparent;
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: block;
  overflow: hidden;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.lists .single-list > a:hover {
  border-color: #cc0c52;
}

.here-a-maid {
  padding: 30px 0;
  background-color: #E9E9E9;
}

.inline-inputs {
  border-bottom: 1px solid #DFDFDF;
  border-top: 1px solid #B2B2B2;
  padding: 5px 0;
  margin-bottom: 20px;
}
.inline-inputs > .form-group {
  margin-bottom: 0px;
  float: left;
  width: calc(50% - 8px);
}
.inline-inputs > .form-group:not(:last-child) {
  margin-right: 15px;
}

select.form-control {
  border: 0px;
  border-radius: 30px;
  padding-left: 25px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-image: url(../images/down-arrow.png);
  background-repeat: no-repeat;
  background-position: right 16px center;
  font-size: 1.0714285714rem;
  color: #A22368;
  border: 1px solid transparent;
}
select.form-control > option {
  color: #A22368;
}

.form-control:focus {
  border-color: #A22368;
}
.form-control.error {
  border-color: #ff3333;
}

select.form-control:not([size]):not([multiple]) {
  height: 35px;
}

.hire-a-maid-title {
  font-size: 1.4285714286rem;
  margin-bottom: 20px;
}

.title-wraper {
  margin-bottom: 10px;
}
.title-wraper .demand-title {
  float: left;
  width: 50%;
  text-align: center;
}
.title-wraper .demand-title > h3 {
  font-size: 1.2857142857rem;
  margin-bottom: 0;
}
.title-wraper .demand-title + .demand-title {
  float: right;
}

.result {
  color: #A22268;
  text-align: center;
}
.result > p {
  line-height: 1;
}
.result .result-title {
  font-weight: 400;
  font-size: 1.7142857143rem;
}
.result .result-minutes {
  font-size: 1.1428571429rem;
}
.result .result-cash {
  font-weight: 500;
  font-size: 1.4285714286rem;
}

.validate-text {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.8);
  font-size: 0.8571428571rem;
}

.form-wraper {
  margin: 50px 0;
}

.mybadge {
  text-align: center;
  background-color: #3BA4D2;
  padding: 10px 0;
  border-radius: 20px 20px 0 0;
  color: #ffffff;
  text-align: center;
  width: 100%;
}
.mybadge .badge-title {
  margin-bottom: 0px;
  font-size: 1.2142857143rem;
}
.mybadge .badge-title > a {
  color: #ffffff;
}
.mybadge .border-separetor {
  display: block;
  width: 30px;
  height: 4px;
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 7px;
}
.mybadge.style2 {
  background-color: #EF524B;
}

.pricing {
  padding: 50px 0;
}

.single-pricing {
  background-color: #ffffff;
  border: 1px solid #e7e7e7;
}
.single-pricing .pricing-header {
  background-color: #C22636;
  color: #ffffff;
  padding: 20px 10px;
}
.single-pricing .pricing-header .pricing-title {
  font-size: 1.7142857143rem;
  margin-bottom: 10px;
}
.single-pricing .pricing-header .pricing-price {
  font-size: 2rem;
  margin-bottom: 0px;
}
.single-pricing .pricing-body .pricing-lists {
  padding: 25px 10px;
}
.single-pricing .pricing-body .pricing-lists > li {
  padding: 3px 0;
}
.single-pricing .pricing-footer {
  padding-bottom: 40px;
}

.reserve-form {
  padding: 40px 0;
}

.datapicker {
  position: relative;
}
.datapicker::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  color: #EF524B;
  border-top: solid currentColor;
  border-right: solid currentColor;
  border-bottom: solid transparent;
  border-left: solid transparent;
  border-width: 10px;
}

.Zebra_DatePicker {
  position: static;
  width: 100% !important;
  font-size: 1rem;
  font-family: inherit;
  padding: 0px;
  border-radius: 0px;
  border: 0px;
  -webkit-box-shadow: 10px 10px 0px 0 #D8D8D8;
  box-shadow: 10px 10px 0px 0 #D8D8D8;
}
.Zebra_DatePicker .dp_header {
  margin-bottom: 15px;
}
.Zebra_DatePicker .dp_header .dp_caption {
  position: relative;
  padding: 0px;
  height: 88px;
  color: #EF524B;
  border-bottom: 5px solid currentColor;
  border-radius: 0;
  font-size: 1.4285714286rem;
  text-align: left;
}
.Zebra_DatePicker .dp_header .dp_caption .today {
  background-color: #EF524B;
  color: #ffffff;
  font-size: 5rem;
  font-weight: 300;
  float: left;
  margin-right: 67px;
}
.Zebra_DatePicker .dp_header .dp_caption .month_name {
  display: block;
  color: #000000;
  font-size: 2.1428571429rem;
  font-weight: 300;
  margin-top: 10px;
}
.Zebra_DatePicker table {
  margin-bottom: 15px;
}
.Zebra_DatePicker .dp_daypicker th {
  text-transform: uppercase;
}
.Zebra_DatePicker .dp_weekend {
  color: #EF524B;
}
.Zebra_DatePicker td {
  font-weight: 700;
  font-size: 1.1428571429rem;
}
.Zebra_DatePicker .dp_actions .dp_previous,
.Zebra_DatePicker .dp_actions .dp_next {
  display: none;
}
.Zebra_DatePicker .dp_actions.dp_footer {
  display: none !important;
}

.reserve-content {
  text-align: center;
  padding: 30px;
}
.reserve-content .reserve-text {
  font-size: 1.2857142857rem;
  padding-bottom: 10px;
}
.reserve-content .btn {
  padding: 8px 50px;
}

.reserve-confirm-content .mybadge {
  width: calc(100% + 30px);
  margin-left: -15px;
  margin-left: -15px;
  margin-bottom: 20px;
}

.confirm-content-wraper .media-body {
  text-align: center;
}
.confirm-content-wraper .time-deration {
  font-weight: 500;
  font-size: 1.1428571429rem;
  display: block;
  margin-bottom: 5px;
}
.confirm-content-wraper .mark {
  background-color: #EF524B;
  color: #ffffff;
  padding-bottom: 0px;
  font-size: 0.8571428571rem;
  font-weight: 500;
  line-height: 1;
}
.confirm-content-wraper .round-price {
  color: #EF524B;
  border-radius: 30px;
  border: 2px solid currentColor;
  padding: 7px 0;
  margin-bottom: 0px;
}

.confirm-massage-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 100vh;
}

.confirm-massage-content h2 {
  font-size: 1.4285714286rem;
  font-weight: 700;
  color: #A22368;
  margin-bottom: 20px;
}

.btn {
  border-radius: 30px;
  padding: 8px 60px;
  font-weight: 600;
  background-color: #A22368;
  border: 1px solid #A22368;
}
.btn.btn-secondary {
  border-radius: 5px;
  background-color: #C22636;
}
.btn.small {
  padding: 8px 23px;
}
.btn.btn-dark {
  border-color: #3968BA;
  background-color: #3968BA;
}
.btn.btn-danger {
  background-color: #EF524B;
  border-color: #EF524B;
}

/* default style a tag */
a {
  -webkit-transition: all 0.4s ease;
  -o-transition: all 0.4s ease;
  transition: all 0.4s ease;
  display: inline-block;
}

/* remove last child padding */
p:last-child {
  margin-bottom: 0px;
}

/* remove from control focus box shadow */
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* iframe */
iframe {
  height: 100%;
  width: 100%;
  display: block;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}


