.banner {
  padding: 10px 0;
  background-color: #ECECEC;
  border-bottom: 3px solid #E4E4E4;
  .swiper-slide {
    padding: 15px;
    width: auto;
    > img {
      // box-shadow: $primary-shadow;
    }
  }
}