.reserve-form {
  padding: 40px 0;
}

.datapicker {
  position: relative;
  &::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    color: #EF524B;
    border-top: solid currentColor;
    border-right: solid currentColor;
    border-bottom: solid transparent;
    border-left: solid transparent;
    border-width: 10px;
  }
}
.Zebra_DatePicker {
  position: static;
  width: 100% !important;
  font-size: 1rem;
  font-family: inherit;
  padding: 0px;
  border-radius: 0px;
  border: 0px;
  box-shadow: 10px 10px 0px 0 #D8D8D8;
  .dp_header {
    margin-bottom: 15px;
    .dp_caption {
      position: relative;
      padding: 0px;
      height: 88px;
      color: #EF524B;
      border-bottom: 5px solid currentColor;
      border-radius: 0;
      font-size: rem(20px);
      text-align: left;
      .today {
        background-color: #EF524B;
        color: $color-white;
        font-size: rem(70px);
        font-weight: 300;
        float: left;
        margin-right: 67px;
      }
      .month_name {
        display: block;
        color: $color-black;
        font-size: rem(30px);
        font-weight: 300;
        margin-top: 10px;
      }
    }
  }
  table {
    margin-bottom: 15px;
  }
  .dp_daypicker {
    th {
      text-transform: uppercase;
    }
  }
  .dp_weekend {
    color: #EF524B;
  }
  td {
    font-weight: 700;
    font-size: rem(16px);
  }
  .dp_actions {
    .dp_previous,
    .dp_next {
      display: none;
    }
  }
  .dp_actions {
    &.dp_footer {
      display: none !important;
    }
  }
}

.reserve-content {
  text-align: center;
  padding: 30px;
  .reserve-text {
    font-size: rem(18px);
    padding-bottom: 10px;
  }
  .btn {
    padding: 8px 50px;
  }
}

.reserve-confirm-content {
  .mybadge {
    width: calc(100% + 30px);
    margin-left: -15px;
    margin: {
      left: -15px;
      bottom: 20px;
    }
  }
}
.confirm-content-wraper {
  .media-body {
    text-align: center;
  }
  .time-deration {
    font-weight: 500;
    font-size: rem(16px);
    display: block;
    margin-bottom: 5px;
  }
  .mark {
    background-color: #EF524B;
    color: $color-white;
    padding-bottom: 0px;
    font-size: rem(12px);
    font-weight: 500;
    line-height: 1;
  }
  .round-price {
    color: #EF524B;
    border-radius: 30px;
    border: 2px solid currentColor;
    padding: 7px 0;
    margin-bottom: 0px;
  }
}