.confirm-massage-area {
  display: flex;
  align-items: center;
  height: 100vh;
}
.confirm-massage-content {
  h2 {
    font-size: rem(20px);
    font-weight: 700;
    color: #A22368;
    margin-bottom: 20px;
  }
}