.pricing {
  height: 100vh;
  padding: 20vh 0;
}

.single-pricing {
  background-color: $color-white;
  border: 1px solid #e7e7e7;
  .pricing-header {
    background-color: #C22636;
    color: $color-white;
    padding: 20px 10px;
    .pricing-title {
      font-size: rem(24px);
      margin-bottom: 10px;
    }
    .pricing-price {
      font-size: rem(28px);
      margin-bottom: 0px;
    }
  }
  .pricing-body {
    .pricing-lists {
      padding: 25px 10px;
      > li {
        padding: 3px 0;
      }
    }
  }
  .pricing-footer {
    padding-bottom: 40px;
  }
}

.pricing-slider {
  position: relative;
  .owl-nav {
    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: block;
      @include equal-size-lineHeight(50px);
      @include transition;
      text-align: center;
      border-radius: 50%;
      font-size: rem(18px);
      background-color: $color-black;
      color: $color-white;
      border: 1px solid transparent;
      &:hover {
        border-color: currentColor;
        background-color: transparent;
        color: $color-black;
      }
    }
    .owl-prev {
      left: 0;
    }
    .owl-next {
      right: 0;
    }
  }
}