.btn {
  border-radius: 30px;
  padding: 8px 60px;
  font-weight: 600;
  background-color: #A22368;
  border: 1px solid #A22368;
  &.btn-secondary {
    border-radius: 5px;
    background-color: #C22636;
  }
  &.small {
    padding: 8px 23px;
  }
  &.btn-dark {
    border-color: #3968BA;
    background-color: #3968BA;
  }
  &.btn-danger {
    background-color: #EF524B;
    border-color: #EF524B;
  }
}